.App {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 30px;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 200px;
  appearance: none;
  cursor: pointer;

  &:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  }
}

p {
  font-size: 24px;
  font-weight: 600;
}
